soc_axi_lite_loongson/run_vivado/mycpu_prj1/ip_upgrade.log
soc_axi_lite_loongson/run_vivado/mycpu_prj1/mycpu.cache
soc_axi_lite_loongson/run_vivado/mycpu_prj1/mycpu.hw
soc_axi_lite_loongson/run_vivado/mycpu_prj1/mycpu.ip_user_files
soc_axi_lite_loongson/run_vivado/mycpu_prj1/mycpu.runs
soc_axi_lite_loongson/run_vivado/mycpu_prj1/mycpu.sim